*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
main.for
*.lof
*.lot
*.lol
*.maf
*.mtc
*.mtc1
*.out
*.bcf
*.nlo
*.run.xml
*.synctex.gz
/_minted-main
/*.pdf
